.carousel .thumb img {
    width: 100% !important;
    height: 100% !important;
}

.carousel .slide img {
    max-height: 100px;  /* change this to whatever you want */
    min-width: 10%;
}
.carousel carousel-slider{
    width: 100px;
    position: relative;
}
